@font-face {
  font-family: "Roboto Medium";
  src: url("./Roboto\ Medium.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("./Roboto-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  /* font-weight: 400; */
  font-family: "Roboto Medium";
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

html {
  font-family: Roboto, sans-serif;
}

div {
  background-color: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Оглавление */

.title {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  text-align: center;
  line-height: 48px;
  position: relative;
  margin-bottom: 10px;
}

.text-title {
  font-size: 18px;
  color: #1d1d1d;
  font-family: "Roboto Bold";

  margin: auto;
}

.back-icon {
  height: 40px;
  display: inline-block;
}

/* кнопки переключения */

.btntab {
  border: 1px #eaeaea solid;
  border-radius: 12px;
  padding: 3px;
  background-color: #f3f3f3;
}

.btntab * {
  font-weight: 500;
}

.btntab:after {
  content: "";
  display: table;
  clear: both;
}

#tab-btn-1 {
  background-color: #fefefe;
  border-radius: 8px;
}

#tab-btn-2 {
  background-color: transparent;
}

.btntab input[type="radio"] {
  display: none;
}

.btntab label {
  display: block;
  float: left;
  width: 50%;
  color: #1d1d1d;
  font-size: 14px;
  text-align: center;
  padding: 8px 0 8px 0;
}

.btntab [id^="tab-btn"]:checked + label {
  background: #fefefe;
  color: #232323;
}

.tab {
  padding: 0px 18px 18px 18px;
  top: 40px;
  width: 100%;
  /* background-color: rgba(54, 82, 65, 0.466); */
}

/* Средняя часть */

.middle * {
  /* padding: 0 2rem; */
  transition: .3s;
}

.yd {
  width: 100%;
}

.img-upload {
  width: 100%;
  height: 100%;
  display: block;
}

.input-img {
  display: block;
  width: 80%;
  margin: 40% 40px;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {
  display: block;
  line-height: 60px;
  font-size: large;
  text-align: center;
  color: #f14635;
  border: 1px solid #f14635;
  border-radius: 20px;
}

.input-file:focus + label,
.input-file + label:hover {
  background-color: #f14635;
  color: #ffffff;
}

#document {
  height: 70vh;
  width: 100%;
}

/* Реквизиты */

.rekvizit {
  display: inline-block;
  width: 100%;
  height: 120vh;
}

.rekvizit li {
  border-bottom: 1px #f2f2f2 solid;
}

.rekvizit li img {
  width: 26px;
  height: 21px;
  display: inline-block;
  position: relative;
  right: 0;
}

.atritem {
  display: inline-block;
  color: #a8a8a8;
  font-size: 12px;
  margin: 14px 0 0 16px;

  font-family: sans-serif;
}

.rekitem {
  display: inline-block;
  color: #4a4a4a;
  font-size: 18px;
  margin: 8px 0 18px 18px;
  font-family: sans-serif;
  width: 85%;
}

/* Кнопки снизу */

.btnfooter {
  width: 100%;
  
}

.btnfooter button {
  width: 100%;
  padding: 1rem .625rem;
  font-size: 16px;
  border-radius: 12px;
  font-weight: "Roboto Regular";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .625rem;
  height: 56px;
}

.btnfooter img {
  width: 26px;
  /* display: inline-block; */
  position: relative;
  /* margin: auto auto; */
  /* top: 20px; */
  /* right: 10px; */
}

.share img {
  width: 28px;
  height: 26px;
}

.btnfooter #btnftr1 {
  background-color: #0076ce;
  color: #ffffff;
  margin-bottom: 1rem;
}

.share {
  background-color: #ffffff;
  color: #0076ce;
  border: 1px solid #0076ce;
}

.btnfooter {
  padding: 20px 17.5px 14.5px 17.5px;
}

.footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid #f3f3f3;
  width: 100%;
}

/* ------------ */
